.footer{
    padding-bottom: 1rem ;
}

.powerBand{
  padding: 0.8rem 0;
  background-color: red;
  text-align: center;
}

.containerIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.containerIcon{
    width: 200px;
}

.containerIcon > img{
    width: 100%;
}

.socialMedia{
    /* background-color: blueviolet; */
   display: flex;
   justify-content: center;
   gap: 10px;

}

.socialMedia img{
    width: 25px;
    background-color: black;
    padding: 2px;
    border-radius: 10px;
}

 @media (min-width:768px){
    .containerIcons{
        padding-top: 1rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .containerIcon{
        width: 250px;
    }

    .socialMedia img{
        width: 30px;
    }
 }