@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tema claro (por defecto) */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #6200ea;
  --color-links-hover:rgb(218, 34, 34);
  --color-background-navbar: rgb(218, 218, 225);
  --boder-form:#000000;
}

/* Tema oscuro */
[data-theme="dark"] {
  --background-color: rgb(136, 136, 141);
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --color-background-navbar: #121212;
  --boder-form:#fff;
}


body{
  font-family:"Roboto", sans-serif ;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; 
}